/* VIDEO BACKGROUND */

#bg-video{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-2;
}


/* OLD TV EFFECT */

.tv-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background:
repeating-linear-gradient(
to bottom,
rgba(255,255,255,0.05) 0px,
rgba(255,255,255,0.05) 1px,
transparent 2px,
transparent 4px
);

pointer-events:none;
z-index:-1;

animation:tvflicker 0.2s infinite;
}

@keyframes tvflicker{

0%{opacity:0.9;}
50%{opacity:1;}
100%{opacity:0.92;}

}


/* TRANSPARENT SOUND BUTTON */

#sound-btn{

position:fixed;
bottom:25px;
right:25px;

width:50px;
height:50px;

border-radius:14px;

background:rgba(255,255,255,0.05);
backdrop-filter:blur(8px);

border:1px solid rgba(255,255,255,0.1);

color:white;
font-size:18px;

display:flex;
align-items:center;
justify-content:center;

cursor:pointer;
transition:0.3s;

}

#sound-btn:hover{

background:rgba(0,255,150,0.2);
box-shadow:0 0 15px rgba(0,255,150,0.4);
transform:translateY(-3px);

}
/* NAVBAR */

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

}

/* LOGO */

.logo{

font-size:24px;
font-weight:800;

background:linear-gradient(90deg,#00ff99,#00d9ff);

-webkit-background-clip:text;
background-clip:text;

color:transparent;

}

/* LINKS */

.nav-links{

display:flex;
gap:25px;

}

/* LINK STYLE */

.nav-links a{

position:relative;

text-decoration:none;
color:white;

font-size:16px;
font-weight:500;

padding:10px 20px;

border-radius:14px;

background:rgba(255,255,255,0.05);

backdrop-filter:blur(12px);

border:1px solid rgba(255,255,255,0.08);

transition:0.3s;

}

/* UNDERLINE */

.nav-links a::after{

content:"";

position:absolute;

left:50%;
bottom:-7px;

width:0;
height:3px;

background:linear-gradient(90deg,#00ff99,#00d9ff);

border-radius:5px;

transform:translateX(-50%);

transition:0.35s;

}

/* HOVER EFFECT */

.nav-links a:hover::after{

width:60%;

}

/* ACTIVE PAGE */

.nav-links a.active::after{

width:60%;

}

/* HOVER BUTTON EFFECT */

.nav-links a:hover{

background:rgba(0,255,150,0.15);

box-shadow:0 0 15px rgba(0,255,150,0.4);

}
/* MINECRAFT FONT */

.minecraft-font{

font-family:'Minecraftia', monospace;

letter-spacing:2px;

}

/* DYNAMIC VIDEO COLOR STYLE */

.video-gradient{

background:linear-gradient(
90deg,
#00ff99,
#00e6a0,
#00d9ff
);

-webkit-background-clip:text;
background-clip:text;

color:transparent;

text-shadow:
0 0 10px rgba(0,255,150,0.4),
0 0 20px rgba(0,255,150,0.2);

}
/* DISCORD TOOLTIP */

.discord-hover{

position:relative;
display:inline-block;

}

.discord-tag{

position:absolute;

bottom:60px;
left:50%;

transform:translateX(-50%);

background:black;
color:white;

padding:6px 12px;

border-radius:8px;

font-size:13px;

border:1px solid rgba(255,255,255,0.2);

opacity:0;

transition:0.25s;

white-space:nowrap;

}

/* SHOW ON HOVER */

.discord-hover:hover .discord-tag{

opacity:1;
bottom:70px;

}